#header{
    display: flex;
    padding: 20px;
    background-color: skyblue;
    border-bottom: 1px solid green;
}

#logo{
    width: 200px;
}

#navigation{
    flex: 1;
}

#right-side{
    flex: 1;
}

#logo span{    
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    color: #fff;
}